@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #93cb52;  
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

py-1 { padding: 1.5rem 0; }
py-2 { padding: 2rem 0; }
py-3 { padding: 3rem 0; }

.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #7ab436;
}

.btn-dark {
  background: #333;
  color: #fff;
}

/* Navbar */
#navbar {
  display: flex;
  background: #333;
  top: 0;
  position: sticky;
  color: #fff;
  justify-content: space-between;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52; 
  border-radius: 5px;
}

/* showcase */
#showcase {
  background: #333 url('../image_resources/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba(0,0,0,0.3);
}

/* Section: What we do */
#what .items {
  display: flex;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}